:root {
  --primary-font: nunito;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

h2 {
  color: #272142;
  text-align: center;
  font-family: Nunito;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
